# Python / Django
venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/

# Node / General
node_modules/
.env
.env.*
target/
build/
dist/

# Editores y OS
.vscode/
.idea/
.DS_Store
Thumbs.db